.header, .container {
  display: flex;
  justify-content: center;
}
h1 {
  font-size: 60px;
  background: linear-gradient(to left, blue, red);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.inputField {
  padding: 10px;
  width: 30%;
  border: none;
}
.btn {
  padding: 20px;
  background: blue;
  border: none;
}