.header, .container {
  display: flex;
  justify-content: center;
}
h1 {
  font-size: 60px;
  background: linear-gradient(to left, black, gray);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.inputField {
  padding: 10px;
  width: 30%;
  border: none;
}
.btn {
  padding: 20px;
  background: gray;
  border: none;
}
body {
  background-image: url(./mac.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: center;
  background-color: #3b8d99;
}